option_settings:
  - namespace: aws:elasticbeanstalk:container:nodejs
    option_name: NodeCommand
    value: "npm start"
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: NODE_ENV
    value: production
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: PORT
    value: "8080"
  - namespace: aws:elasticbeanstalk:healthreporting:system
    option_name: SystemType
    value: enhanced
  - namespace: aws:elb:healthcheck
    option_name: Target
    value: "HTTP:8080/health"
